---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/75c7def9d79c465da71b22474dd84d88/query
    body:
      encoding: UTF-8
      string: '{"page_size":100,"filter":{"property":"Type","select":{"equals":"Post"}},"sorts":[{"property":"Date","direction":"descending"}]}'
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 2ee71041-6f48-4429-a3d0-56f97fdbf8ca
      Etag:
      - W/"30b20-/TbS3V5xmd8SPQO9NBnwvEod5ug"
    body:
      encoding: UTF-8
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"388fa277-35ba-4096-a429-f19c5575cbdf\",\"created_time\":\"2023-08-11T15:31:00.000Z\",\"last_edited_time\":\"2023-11-21T04:25:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4DD\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"75c7def9-d79c-465d-a71b-22474dd84d88\"},\"archived\":false,\"properties\":{\"Sub-item\":{\"id\":\"LRhG\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Bouquets\":{\"id\":\"%5DDd%60\",\"type\":\"relation\",\"relation\":[{\"id\":\"3bbbcd98-72c2-4a15-ae94-2a7866f5ab72\"}],\"has_more\":false},\"Status\":{\"id\":\"_kzj\",\"type\":\"status\",\"status\":{\"id\":\"404e4ee3-219b-4545-8300-d4f6e6f03ff0\",\"name\":\"Done\",\"color\":\"green\"}},\"Parent
        item\":{\"id\":\"deyY\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Summary\":{\"id\":\"dql%7D\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Master
        the art of asynchronous programming with JavaScript promises. Learn about
        promise basics, chaining, and error handling for responsive and efficient
        web development.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Master
        the art of asynchronous programming with JavaScript promises. Learn about
        promise basics, chaining, and error handling for responsive and efficient
        web development.\",\"href\":null}]},\"Personas\":{\"id\":\"lu%7Di\",\"type\":\"relation\",\"relation\":[{\"id\":\"962c6eaa-3fb5-4e32-a173-5c6101d2af8d\"},{\"id\":\"4159ab83-b70a-4089-89c1-efe2600fb016\"},{\"id\":\"13393076-0329-447c-8c22-af7b5adae66c\"},{\"id\":\"9ba9bbb7-ffe3-4b50-a931-f5801d23f2db\"},{\"id\":\"0dac698d-c241-4520-b05f-9d49c1186341\"},{\"id\":\"baded1d8-88ee-499f-a157-5d49ae4acb4a\"},{\"id\":\"b719f2f5-4f96-42f1-b369-6d87fe69a4ca\"},{\"id\":\"26fad68a-6cd0-4695-88cb-cfd96ee03226\"}],\"has_more\":false},\"Content
        Pillar\":{\"id\":\"sz~E\",\"type\":\"relation\",\"relation\":[{\"id\":\"cf5d1da4-eea8-42c0-a49e-6963b9148470\"}],\"has_more\":false},\"Type\":{\"id\":\"t%7BDx\",\"type\":\"select\",\"select\":{\"id\":\"bfca06ec-117f-4b66-849c-7aa61b56059a\",\"name\":\"Post\",\"color\":\"gray\"}},\"Tags\":{\"id\":\"uCC%3D\",\"type\":\"multi_select\",\"multi_select\":[{\"id\":\"9f865594-7acd-4313-9bbb-7322c7de9ae8\",\"name\":\"JavaScript\",\"color\":\"brown\"},{\"id\":\"3ec825d0-fc78-42c0-9465-a186c3fb2960\",\"name\":\"Promises\",\"color\":\"yellow\"},{\"id\":\"5f6bf3ec-6d95-4bff-94a0-cd14de26023b\",\"name\":\"Asynchronous
        Programming\",\"color\":\"blue\"},{\"id\":\"8c99f2e9-f793-46e8-9156-0c1f6ca4e30f\",\"name\":\"Web
        Development\",\"color\":\"blue\"}]},\"Slug\":{\"id\":\"u%5Djb\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"demystifying-javascript-promises-a-comprehensive-guide\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"demystifying-javascript-promises-a-comprehensive-guide\",\"href\":null}]},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Demystifying
        JavaScript Promises: A Comprehensive Guide\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Demystifying
        JavaScript Promises: A Comprehensive Guide\",\"href\":null}]},\"Meta Description\":{\"id\":\"3224cb4c-853e-4ed4-98eb-3556e81df701\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Demystify
        JavaScript promises with our comprehensive guide. Learn to escape callback
        hell, improve code clarity, and embrace the elegance of promises. Explore
        real-world examples, best practices, and elevate your asynchronous programming
        skills.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Demystify
        JavaScript promises with our comprehensive guide. Learn to escape callback
        hell, improve code clarity, and embrace the elegance of promises. Explore
        real-world examples, best practices, and elevate your asynchronous programming
        skills.\",\"href\":null}]},\"Published\":{\"id\":\"38d8f8ba-ed22-4b3c-9ccf-ae4f5eadb177\",\"type\":\"checkbox\",\"checkbox\":true},\"Created\":{\"id\":\"7ae3c3af-3ddd-45eb-8ae8-b8475d8b9505\",\"type\":\"created_time\",\"created_time\":\"2023-08-11T15:31:00.000Z\"},\"Cover
        Image\":{\"id\":\"7ca136ee-016d-4083-8579-84025b8a0c99\",\"type\":\"files\",\"files\":[{\"name\":\"https://images.unsplash.com/photo-1593526613712-7b4b9a707330?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D\",\"type\":\"external\",\"external\":{\"url\":\"https://images.unsplash.com/photo-1593526613712-7b4b9a707330?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D\"}}]},\"Author\":{\"id\":\"95528936-c837-425e-bcc9-ce3eb7858986\",\"type\":\"people\",\"people\":[{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\",\"name\":\"Meagan
        Waller\",\"avatar_url\":\"https://lh3.googleusercontent.com/a-/AOh14GgueUZlCsZ4asTnb9pZcx6x3pAyAgZPT9tbAkymCw=s100\",\"type\":\"person\",\"person\":{\"email\":\"meaganewaller@gmail.com\"}}]},\"Description\":{\"id\":\"c5478761-42f9-4122-b93a-98864867b2ad\",\"type\":\"rich_text\",\"rich_text\":[]},\"Date\":{\"id\":\"d92b21ba-4f14-4557-99a3-ae89d776a8f7\",\"type\":\"date\",\"date\":{\"start\":\"2023-11-20\",\"end\":null,\"time_zone\":null}}},\"url\":\"https://www.notion.so/Demystifying-JavaScript-Promises-A-Comprehensive-Guide-388fa27735ba4096a429f19c5575cbdf\",\"public_url\":null},{\"object\":\"page\",\"id\":\"df5df586-0cc6-4d52-8939-ab66ba3b6e01\",\"created_time\":\"2023-09-11T15:53:00.000Z\",\"last_edited_time\":\"2023-10-13T15:41:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"cover\":null,\"icon\":null,\"parent\":{\"type\":\"database_id\",\"database_id\":\"75c7def9-d79c-465d-a71b-22474dd84d88\"},\"archived\":false,\"properties[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/388fa277-35ba-4096-a429-f19c5575cbdf/children?page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 387b0773-92bd-4189-83cc-554852b5e2c0
      Etag:
      - W/"10305-UktvhVy7YoW8cfsoJfXjhsYOBOA"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"2bb2f5d6-b5bf-47e5-8945-a64232f9acbe","parent":{"type":"page_id","page_id":"388fa277-35ba-4096-a429-f19c5575cbdf"},"created_time":"2023-08-11T15:47:00.000Z","last_edited_time":"2023-11-21T03:46:00.000Z","created_by":{"object":"user","id":"e96d1887-af85-4405-adae-7996a198c0cc"},"last_edited_by":{"object":"user","id":"e96d1887-af85-4405-adae-7996a198c0cc"},"has_children":false,"archived":false,"type":"heading_2","heading_2":{"rich_text":[{"type":"text","text":{"content":"A
        Glimpse into Asynchronous Complexity","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"A
        Glimpse into Asynchronous Complexity","href":null}],"is_toggleable":false,"color":"default"}},{"object":"block","id":"9569e4a9-2dd3-4c0a-b302-1341234eb02c","parent":{"type":"page_id","page_id":"388fa277-35ba-4096-a429-f19c5575cbdf"},"created_time":"2023-08-11T15:47:00.000Z","last_edited_time":"2023-11-21T03:51:00.000Z","created_by":{"object":"user","id":"e96d1887-af85-4405-adae-7996a198c0cc"},"last_edited_by":{"object":"user","id":"e96d1887-af85-4405-adae-7996a198c0cc"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"It
        was a late evening in the heart of a bustling city. The code editor glowed
        softly, casting a warm light onto the determined face of a developer. Sarah
        tirelessly worked on her latest project; an interactive web application that
        would revolutionize how people connect with each other.","link":null},"annotations":{"bold":false,"italic":true,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plai[...]
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/1efc60f1-f6d8-4c67-a9da-60d85120bf29/children?page_size=100&start_cursor=b0d6ba62-4e4b-41e9-b6f3-e48af6f3b65e
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
    [...]
[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/a03ea077-f776-409e-b47b-05ec8712f938/children?page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 99150fb8-1a2e-49b5-b122-afecca1c5a06
      Etag:
      - W/"1c0f6-v+6Vu41zU97JNXfq0ix3fZytr44"
    body:
      encoding: UTF-8
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"block\",\"id\":\"7051975a-2a53-428b-af8b-03a38c781d46\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"a03ea077-f776-409e-b47b-05ec8712f938\"},\"created_time\":\"2023-08-11T16:20:00.000Z\",\"last_edited_time\":\"2023-08-11T16:20:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"has_children\":false,\"archived\":false,\"type\":\"divider\",\"divider\":{}},{\"object\":\"block\",\"id\":\"d6da66e6-180c-47bd-954b-4ebb37a51eac\",\"parent\":{\"type\":\"page_id\",\"page_id\":\"a03ea077-f776-409e-b47b-05ec8712f938\"},\"created_time\":\"2023-08-11T16:20:00.000Z\",\"last_edited_time\":\"2023-08-11T16:20:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"has_children\":false,\"archived\":false,\"type\":\"paragraph\",\"pa[...]
[...]
