---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/45bed0aa6f824a46bc1de73123b2d6cb/query
    body:
      encoding: UTF-8
      string: '{"page_size":100}'
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 74d1174e-f432-4c11-9fb6-a96e41a664ee
      Etag:
      - W/"3c98-+4PdH5MfXhRUj7XSKJ+lXdXiDO0"
    body:
      encoding: UTF-8
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"b94cf3e3-3bde-4181-b86c-267a82503055\",\"created_time\":\"2023-12-06T01:49:00.000Z\",\"last_edited_time\":\"2023-12-06T01:56:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F52D\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"45bed0aa-6f82-4a46-bc1d-e73123b2d6cb\"},\"archived\":false,\"properties\":{\"Summary\":{\"id\":\"ANvT\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"rails
        app using reality-tv scraped data\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"rails
        app using reality-tv scraped data\",\"href\":null}]},\"ID\":{\"id\":\"Cji~\",\"type\":\"unique_id\",\"unique_id\":{\"prefix\":\"PROJ\",\"number\":5}},\"Link\":{\"id\":\"HQ~%5D\",\"type\":\"url\",\"url\":null},\"Featured\":{\"id\":\"ITg%7D\",\"type\":\"checkbox\",\"checkbox\":false},\"Last
        edited time\":{\"id\":\"L%7CgO\",\"type\":\"last_edited_time\",\"last_edited_time\":\"2023-12-06T01:56:00.000Z\"},\"Repository
        Names\":{\"id\":\"PG%60w\",\"type\":\"rollup\",\"rollup\":{\"type\":\"array\",\"array\":[{\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"survivor-astrology\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"survivor-astrology\",\"href\":null}]},{\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"reality-scraper\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"reality-scraper\",\"href\":null}]}],\"function\":\"show_original\"}},\"Cover
        Image\":{\"id\":\"R%5BR%3A\",\"type\":\"files\",\"files\":[{\"name\":\"6b9e29dca57967575f104453fd6d12db.jpg\",\"type\":\"file\",\"file\":{\"url\":\"https://prod-files-secure.s3.us-west-2.amazonaws.com/9cf7ee65-e546-4635-82d8-e305b1e4351f/0e58137a-f9ba-4e6b-8c16-bffc3929fdfc/6b9e29dca57967575f104453fd6d12db.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45HZZMZUHI%2F20240117%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20240117T015859Z&X-Amz-Expires=3600&X-Amz-Signature=4e786468db25d9ec39f041d62a3ae2a86316da15ef55df9dd63b9c6633c882f9&X-Amz-SignedHeaders=host&x-id=GetObject\",\"expiry_time\":\"2024-01-17T02:58:59.740Z\"}}]},\"Repository
        Links\":{\"id\":\"YNTP\",\"type\":\"rollup\",\"rollup\":{\"type\":\"array\",\"array\":[{\"type\":\"url\",\"url\":\"https://github.com/meaganewaller/survivor-astrology\"},{\"type\":\"url\",\"url\":\"https://github.com/meaganewaller/reality-scraper\"}],\"function\":\"show_original\"}},\"Creation
        Date\":{\"id\":\"a%3ALR\",\"type\":\"date\",\"date\":{\"start\":\"2021-02-21\",\"end\":null,\"time_zone\":null}},\"Repositories\":{\"id\":\"h%3EmI\",\"type\":\"relation\",\"relation\":[{\"id\":\"4251d2a0-6b70-4a64-b6ed-51107f8d95a8\"},{\"id\":\"7c41ad04-52c7-4f0e-a107-041b0061822b\"}],\"has_more\":false},\"Created\":{\"id\":\"kZc%40\",\"type\":\"created_time\",\"created_time\":\"2023-12-06T01:49:00.000Z\"},\"Tags\":{\"id\":\"%7B%7CH%3C\",\"type\":\"select\",\"select\":null},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Survivor
        Astrology\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Survivor
        Astrology\",\"href\":null}]}},\"url\":\"https://www.notion.so/Survivor-Astrology-b94cf3e33bde4181b86c267a82503055\",\"public_url\":null},{\"object\":\"page\",\"id\":\"b7f04049-4ad6-44ff-ab71-b23bf2efba1d\",\"created_time\":\"2023-12-04T23:57:00.000Z\",\"last_edited_time\":\"2023-12-04T23:59:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F914\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"45bed0aa-6f82-4a46-bc1d-e73123[...]
- request:
    method: get
    uri: https://api.notion.com/v1/blocks/b94cf3e3-3bde-4181-b86c-267a82503055/children?page_size=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 78b7fb9c-1179-453f-9a53-269ea403d9b6
      Etag:
      - W/"345-ypzIqWQFjXLhyGJcflF/FwDNhhc"
    body:
      encoding: UTF-8
      string: '{"object":"list","results":[{"object":"block","id":"395d2dc5-73b0-46cf-bf27-932ad62ffc4e","parent":{"type":"page_id","page_id":"b94cf3e3-3bde-4181-b86c-267a82503055"},"created_time":"2023-12-06T01:55:00.000Z","last_edited_time":"2023-12-06T01:55:00.000Z","created_by":{"object":"user","id":"e96d1887-af85-4405-adae-7996a198c0cc"},"last_edited_by":{"object":"user","id":"e96d1887-af85-4405-adae-7996a198c0cc"},"has_children":false,"archived":false,"type":"paragraph","paragraph":{"rich_text":[{"type":"text","text":{"content":"Oh
        yeah.","link":null},"annotations":{"bold":false,"italic":false,"strikethrough":false,"underline":false,"code":false,"color":"default"},"plain_text":"Oh
        yeah.","href":null}],"color":"default"}}],"next_cursor":null,"has_more":false,"type":"block","block":{},"request_id":"78b7fb9c-1179-453f-9a53-269ea403d9b6"}'
  recorded_at: Wed, 17 Jan 2024 01:59:00 GMT
[...]
