---
http_interactions:
- request:
    method: post
    uri: https://api.notion.com/v1/databases/e50aba34131048828575afd9b4a9f104/query
    body:
      encoding: UTF-8
      string: '{"page_size":100}'
    headers:
      Authorization:
      - Bearer <NOTION_TOKEN>
      Notion-Version:
      - '2022-02-22'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Notion-Request-Id:
      - 7b5e2a57-3c50-4c6d-9eb2-a719e79b7bff
      Etag:
      - W/"7127-fJyFVSMnpCC34Bay9tHE5V9nfFw"
    body:
      encoding: UTF-8
      string: "{\"object\":\"list\",\"results\":[{\"object\":\"page\",\"id\":\"65bd3802-7176-4af9-9922-661c620a3179\",\"created_time\":\"2023-08-11T15:15:00.000Z\",\"last_edited_time\":\"2023-08-11T15:44:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F440\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"e50aba34-1310-4882-8575-afd9b4a9f104\"},\"archived\":false,\"properties\":{\"The
        Garden\":{\"id\":\"NGs%7D\",\"type\":\"relation\",\"relation\":[],\"has_more\":false},\"Description\":{\"id\":\"%60c~%3A\",\"type\":\"rich_text\",\"rich_text\":[{\"type\":\"text\",\"text\":{\"content\":\"Information
        about job openings, conferences, meetups, and other opportunities in the tech
        community.\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Information
        about job openings, conferences, meetups, and other opportunities in the tech
        community.\",\"href\":null}]},\"Cover Image\":{\"id\":\"c%3D%5EK\",\"type\":\"files\",\"files\":[]},\"Bouquets\":{\"id\":\"gQ%3A%3E\",\"type\":\"rollup\",\"rollup\":{\"type\":\"array\",\"array\":[],\"function\":\"show_unique\"}},\"Personas\":{\"id\":\"mPTA\",\"type\":\"rollup\",\"rollup\":{\"type\":\"array\",\"array\":[],\"function\":\"show_unique\"}},\"All
        Content\":{\"id\":\"xJC%7C\",\"type\":\"rollup\",\"rollup\":{\"type\":\"number\",\"number\":0,\"function\":\"count_values\"}},\"Title\":{\"id\":\"title\",\"type\":\"title\",\"title\":[{\"type\":\"text\",\"text\":{\"content\":\"Opportunities
        & Events\",\"link\":null},\"annotations\":{\"bold\":false,\"italic\":false,\"strikethrough\":false,\"underline\":false,\"code\":false,\"color\":\"default\"},\"plain_text\":\"Opportunities
        & Events\",\"href\":null}]}},\"url\":\"https://www.notion.so/Opportunities-Events-65bd380271764af99922661c620a3179\",\"public_url\":null},{\"object\":\"page\",\"id\":\"2612ad6f-c1c0-4b26-8e31-f92ec5813bca\",\"created_time\":\"2023-08-11T15:15:00.000Z\",\"last_edited_time\":\"2023-09-10T02:11:00.000Z\",\"created_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"last_edited_by\":{\"object\":\"user\",\"id\":\"e96d1887-af85-4405-adae-7996a198c0cc\"},\"cover\":null,\"icon\":{\"type\":\"emoji\",\"emoji\":\"\U0001F4BC\"},\"parent\":{\"type\":\"database_id\",\"database_id\":\"e50aba34-1310-4882-8575-afd9b4[...]
